:root:root {
  --fc-button-bg-color: #E44F48;
  --fc-button-border-color: #E44F48;
  --fc-button-hover-bg-color: #E44F48;
  --fc-button-hover-border-color: #E44F48;
  --fc-button-active-bg-color: #E44F48;
  --fc-button-active-border-color: #E44F48;
  --fc-today-bg-color: #e2827d;
  --fc-event-bg-color: #E44F48;
  --fc-event-border-color: #E44F48;
}

.fc .fc-toolbar-title {
  color:#E44F48;
}
